<global-header
  [title]="'SISTEMA DE GESTIÓN DE AGENTES'"
  [switchRol]="false"
></global-header>

<navbar-blue [menu]="menu"> </navbar-blue>

<div class="container container-persona internal-container">
  <div style="text-align: center">
    <p class="title-one text-bold">Estados de Cuenta</p>
  </div>

  <div class="form-container">
    <form class="text-secondary text-xsmall" [formGroup]="form">
      <div class="row">
        <div class="form-group">
          <label>Rol</label>
          <div class="input-icon">
            <select
              class="form-control"
              (change)="changeTipoRol($event.target.value)"
            >
              <option selected value="agentes">Agente</option>
              <option value="promotores">Promotor</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label>Código del agente (*)</label>
          <input type="text" class="form-control" formControlName="codigo" />
          <small
            *ngIf="!f.codigo.valid && f.codigo.touched"
            class="ml-2 text-danger"
            >Código del agente no válido</small
          >
        </div>
      </div>

      <div class="row">
        <div class="date-range">
          <label>Rango de Fechas de Recepción (*)</label>

          <div class="section-dates">
            <div class="form-group fecha-desde">
              <app-date-picker
                placeholder="Desde"
                (action)="setDesde($event)"
                [clear]="clearDP"
                [max]="today"
                [dateString]="dateString1"
              ></app-date-picker>

              <small
                *ngIf="
                  rangeDate1 &&
                  rangeDate2 &&
                  rangeDate1 > rangeDate2 &&
                  dateString1
                "
                class="text-danger"
              >
                Rango de fecha inválida
              </small>
            </div>
            <div class="form-group">
              <app-date-picker
                placeholder="Hasta"
                (action)="setHasta($event)"
                [max]="today"
                [clear]="clearDP"
                [dateString]="dateString2"
              ></app-date-picker>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label>Tipo de reporte</label>
          <div class="input-icon">
            <select
              class="form-control"
              (change)="changeTipoReporte($event.target.value)"
            >
              <option selected value="comisiones">Comisiones</option>
              <option value="bonos">Bonos</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="bottom" style="gap: 15px">
    <div id="loading" *ngIf="apiBusy"></div>
    <button
      class="btn btn-primary"
      (click)="getFile('pdf')"
      *ngIf="!apiBusy"
      [disabled]="
        form.invalid || !validDate1 || !validDate2 || rangeDate1 > rangeDate2
      "
    >
      PDF
    </button>
    <button
      class="btn btn-primary"
      (click)="getFile('excel')"
      *ngIf="!apiBusy"
      [disabled]="
        form.invalid || !validDate1 || !validDate2 || rangeDate1 > rangeDate2
      "
    >
      Excel
    </button>
  </div>

  <div class="error text-danger" *ngIf="errorMsg">
    {{ errorMsg }}
  </div>
</div>
