<global-header
  [title]="'SISTEMA DE GESTIÓN DE AGENTES'"
  [switchRol]="false"
></global-header>

<navbar-blue [menu]="menu"> </navbar-blue>

<div class="container container-persona internal-container">
  <div style="text-align: center">
    <p class="title-one text-bold">Estados de Cuenta</p>
  </div>

  <div class="form-container">
    <form class="text-secondary text-xsmall" [formGroup]="form">
      <div class="row">
        <div class="form-group">
          <label>Código del agente (*)</label>
          <input type="text" class="form-control" formControlName="rfc" />
          <small *ngIf="!f.rfc.valid && f.rfc.touched" class="ml-2 text-danger"
            >RFC no válido</small
          >
        </div>
      </div>

      <div class="row">
        <div class="date-range">
          <label>Rango de Fechas de Recepción (*)</label>

          <div class="section-dates">
            <div class="form-group fecha-desde">
              <app-date-picker
                placeholder="Desde"
                (action)="setDesde($event)"
                [clear]="clearDP"
                [max]="today"
                [dateString]="dateString1"
              ></app-date-picker>

              <small
                *ngIf="
                  rangeDate1 &&
                  rangeDate2 &&
                  rangeDate1 > rangeDate2 &&
                  dateString1
                "
                class="text-danger"
              >
                Rango de fecha inválida
              </small>
            </div>
            <div class="form-group">
              <app-date-picker
                placeholder="Hasta"
                (action)="setHasta($event)"
                [max]="today"
                [clear]="clearDP"
                [dateString]="dateString2"
              ></app-date-picker>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label>Tipo de reporte</label>
          <div class="input-icon">
            <select class="form-control">
              <option selected value="productividad">Productividad</option>
              <option value="siniestralidad">Siniestralidad</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="bottom">
    <button class="btn btn-primary" [disabled]="!form.valid">Exportar</button>
  </div>
</div>
